name: Desktop builds

on:
  workflow_dispatch:
    inputs:
      apis:
        description: 'CSV of apis whose quickstart examples we should build'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: noop
        run: true
